* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	font-size: 110%;
	background-color: #fcf7f8;
	border: 15px solid chocolate;
	padding: 8px;
	margin: 0.5rem;
	display: flex;
	flex-direction: column;
}

.header {
	background-color: #343330;
	text-align: center;
	color: #fcf7f8;
	justify-content: center;
}

#heading {
	font-family: sans-serif;
	font-size: 110%;
	padding: 1rem;
}

.main {
	display: flex;
	flex-direction: row;
	overflow: unset;
}
/* DS:I created this class for your name and paragraph */
/* ---------------------------------------------------------------- */
.headingName {
	padding: 20px;
}
.headingName h1 {
	padding: 30px;
}
/* ---------------------------------------------------------------- */
/* DS I added some additional styling for you */
.profile {
	text-align: center;
	justify-content: center;
}
.profilePicWrapper {
	height: auto;
	width: 250px;
}
.profilePic {
	border-radius: 100%;
	border: 1px solid white;
}
.profilePic:hover {
	cursor: pointer;
	-moz-box-shadow: 0 0 25px #ccc;
	-webkit-box-shadow: 0 0 25px #ccc;
	box-shadow: 0 0 25px #ccc;
	transition: ease-out 1.5s;
}
@media screen and (max-width: 992px) {
	.profilePic {
		margin-top: 20px;
	}
}
/* ---------------------------------------------------------------- */
/* DS: Added some styling to your footer */
.icons {
	width: 3rem;
	height: auto;
	margin: 2rem;
}
footer h3 {
	padding: 20px;
}
footer a :-moz-only-whitespace {
}
/* ---------------------------------------------------------------- */
#sidebar {
	width: 15%;
	background-color: rgb(56, 66, 39);
	padding: 1rem;
	color: #fcf7f8;
}

.nav-Menu {
	list-style-type: none;
	padding: 0%;
}

#contents {
	margin-top: 2rem;
	margin-left: 2rem;
	margin-bottom: 2rem;
	margin-right: 2rem;
}

#headShot {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 3px solid chocolate;
}

.footer {
	background-color: #343330;
	text-align: center;
	color: #fcf7f8;
	padding: 1rem;
}

@media screen and (max-width: 992px) {
	#heading {
		font-size: 100%;
	}
}

@media screen and (max-width: 992px) {
	#sidebar {
		padding: 0.2rem;
		font-size: 100%;
	}
}

@media screen and (max-width: 992px) {
	#contents {
		font-size: 100%;
		margin-top: 3rem;
		margin-left: 3rem;
		margin-bottom: 3rem;
		margin-right: 3rem;
	}
}

@media screen and (max-width: 992px) {
	.footer {
		padding: 1rem;
		font-size: 100%;
	}
}

@media screen and (max-width: 992px) {
	.icons {
		width: 3rem;
		height: auto;
		margin: 1rem;
	}
}

@media screen and (max-width: 768px) {
	#heading {
		font-size: 80%;
	}
}

@media screen and (max-width: 768px) {
	#sidebar {
		padding: 0.2rem;
		font-size: 80%;
	}
}

@media screen and (max-width: 768px) {
	#contents {
		font-size: 80%;
		margin-top: 2rem;
		margin-left: 2rem;
		margin-bottom: 2rem;
		margin-right: 2rem;
	}
}

@media screen and (max-width: 768px) {
	.footer {
		padding: 1rem;
		font-size: 80%;
	}
}

@media screen and (max-width: 768px) {
	.icons {
		width: 3rem;
		height: auto;
		margin: 0.5rem;
	}
}

@media screen and (max-width: 550px) {
	#heading {
		font-size: 50%;
	}
}

@media screen and (max-width: 550px) {
	#sidebar {
		padding: 0.5rem;
		font-size: 50%;
	}
}

@media screen and (max-width: 550px) {
	#contents {
		font-size: 50%;
		margin-top: 1rem;
		margin-left: 1rem;
		margin-bottom: 1rem;
		margin-right: 1rem;
	}
}

@media screen and (max-width: 550px) {
	.footer {
		padding: 0.5rem;
		font-size: 50%;
	}
}

@media screen and (max-width: 550px) {
	.icons {
		width: 1.5rem;
		height: auto;
		margin: 0.25rem;
	}
}
